
<!DOCTYPE html>
<html lang="en">
    <head>
        <Title>{{title}}</title>
        <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta http-equiv="refresh" content="1">

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
        <script type=text/javascript> $(function() { $("#drinkButton").click(function (event) { $.getJSON('/DrinkFunction', { },
        function(data) { }); return false; }); }); </script> 
 
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
        <script type=text/javascript> $(function() { $("#resetButton").click(function (event) { $.getJSON('/ResetFunction', { },
        function(data) { }); return false; }); }); </script> 

	
	<style>
	html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
        body { 
          background-image: url('/static/dark_water_background.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
         }
        input[type=button] {
          background-color: black;
          border: 2px solid #ffffff;
          color: white;
          padding: 32px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 50px;
          margin: 2px 2px;
          cursor: pointer;
         }
        </style>
    </head>
    
    <body>
        <header class="w3-container w3-theme w3-padding" id="myHeader"> 
  	<div class="w3-center">
  	<h1 class="w3-xxxlarge">Daily Water Reminder</h1>
    	<div class="w3-padding-25">
	<input type = "button" id = "drinkButton" value = "Drink" style=float:left />
        <input type = "button" id = "resetButton" value = "Reset" style=float:right />    	
  	</div>
	</header>
	<h1 tabindex=0 style= "color:White;" align="center"> You've had {{button}} cups of water today</h1>
       	<h2 tabindex=0 style="color:White;" align="center">It's been {{elapsed_time}} since your last cup of water!</h1>

	</body>
</html>